@model TicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        <label>Kategori ID</label>
        @Html.TextBoxFor(x => x.KategoriID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Kategori Ad</label>
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })

    </div>

    <div style="margin-top:15px">
        <button class="btn btn-warning">Güncelle</button>
    </div>

}



