@using TicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.dgr</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel</th>
        <th>Satışlar</th>
    </tr>
    <tbody>
        @foreach(var i in Model)
        {
            <tr>
                <td>@i.PersonelAd @i.PersonelSoyad</td>
                <td><a href="/Departman/DepartmanPersonelSatis/@i.PersonelID" class="btn btn-warning">Satışlar</a></td>
            </tr>
        }
    </tbody>

</table>

