@using TicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Sipariş Geçmişim</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
    </tr>
    @foreach(var i in Model)
    {
        <tr>
            <td>@i.Urunler.UrunAd</td>
            <td>@i.Fiyat</td>
            <td>@Convert.ToDateTime(i.Tarih).ToString("dd/MM/yyyy") </td>
        </tr>
    }
</table>

